html, body { margin: 0; padding: 0; }
body {
	/*font: 13px/1.5 "Verdana", sans-serif; *//* Change your font */
    font-family: 'Crimson Text', serif;
}

.drawer {
	bottom: 0px;
	height: 140px;
	overflow: hidden;
	position: absolute;
	width: 100%;
	z-index: 5; /* make this what you need to */
}

.drawer > header {
    background: #8A0707;
    display: block;
    height: 48px;
    line-height: 54px;
    margin: auto;
    overflow: hidden;
    padding: 5px;
    text-align: center;
    width: 150px;
    box-shadow: 0px 12px 17px #282828;
    font-size: 28px;

}

.drawer-content {
    /*background: url(../images/menuBackground.png);*/
    border-collapse: collapse;
    height: 165px;
    width: 100%;
    box-shadow: -2px 1px 12px #282828;
    background-color: #282828;
    font-family: 'Crimson Text', serif;

}

.clickme {
  cursor: pointer;
    font-family: 'Crimson Text', serif;
    font-weight: 300;


}

.drawer-items {
	margin: auto;
	width: 960px;
}

.drawer-items ul {
    margin: 0px;
    margin-left:-200px;
}
.drawer-items li {
    float: left;
    list-style: none;
    margin-left: 0px;
    width: 90px;
    border: 1px solid #1b1b1b;
    height: 104px;
    box-shadow: 0px 4px 2px #1b1b1b;
}

.drawer-items li a {
    color: #fff;
    display: block;
    height: 76px;
    padding: 12px;
    text-decoration: none;
    width: 65px;
}

.drawer-items li a:hover {
  /*background: #8A0707; *//* change link hover color */
    /*border: 1px solid green;*/
    color: green;
}

.drawer-items .title {
    /* color: #282828; */
    font-size: 20px;
    line-height: 4.1;
    /* box-shadow: 0px 12px 17px #282828; */
    text-align: center;
    border: 1px solid #282828;
    /* height: 73px; */
    box-shadow: 2px 2px 0px #282828;
    color: #ecf0f1;
    height: 86px;
}

/* Don't need these below it is just for full size image
-------------------------------------------------------- */
.background-image {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: 1;
}

.background-image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}


.title:hover{

    /*color: #282828;*/
    /*font-size: 20px;*/
    /*line-height: 4.1;*/
    /* box-shadow: 0px 12px 17px #282828; */
    /*text-align: center;*/
    /*border: 1px solid #282828;*/
    /* height: 73px; */
    /*box-shadow: 2px 2px 0px #282828;*/
    background-color: #282828;
    color: #8A0707;
}