@font-face {
	font-family: 'arrows';
	src:url('../fonts/arrows/arrows.eot');
	src:url('../fonts/arrows/arrows.eot?#iefix') format('embedded-opentype'),
		url('../fonts/arrows/arrows.woff') format('woff'),
		url('../fonts/arrows/arrows.ttf') format('truetype'),
		url('../fonts/arrows/arrows.svg#arrows') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bb-custom-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.bb-custom-wrapper .bb-bookblock {
	width: 100%;
	height: 100%;
	-webkit-perspective: 2000px;
	-moz-perspective: 2000px;
	perspective: 2000px;
}

.bb-custom-side {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.bb-custom-firstpage h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.bb-custom-firstpage h1 span {
	display: block;
	font-size: 60%;
	opacity: 0.3;
	padding: 0 0 0.6em 0.1em;
}

.bb-custom-firstpage {
	text-align: center;
	padding-top: 15%;
	width: 50%;
	float: left;
	height: 100%;
}

.bb-custom-side p {
    padding: 10%;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 103px;
}

.bb-custom-wrapper h3 {
	font-size: 1.4em;
	font-weight: 300;
	margin: 0.4em 0 1em;
}

.bb-custom-wrapper > nav {
	width: 100%;
	height: 40px;
	margin: 1em auto 0;
	position: fixed;
	bottom: 20px;
	z-index: 1000;
	text-align: center;
}

.bb-custom-wrapper > nav a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 25px;
    background: #212121;
    color: #fff;
    font-size: 0;
    margin: 10px;
    border: 1px solid #fff;
    text-decoration: none !important;
}


.bb-custom-wrapper > nav a:hover {
	opacity: 0.6;
}

.bb-custom-icon:before {
	font-family: 'arrows';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 30px;
	line-height: 40px;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.bb-custom-icon-first:before,
.bb-custom-icon-last:before {
	content: "\e002";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-arrow-right:before {
	content: "\e003";
}

.bb-custom-icon-arrow-left:before,
.bb-custom-icon-first:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* No JS */
.no-js .bb-custom-wrapper {
	height: auto;
}

.no-js .bb-custom-content {
	height: 470px;
}

@media screen and (max-width: 61.75em){
	.bb-custom-side {
		font-size: 70%;
	}
}

@media screen and (max-width: 33em){
	.bb-custom-side {
		font-size: 60%;
	}
}


@media screen and (max-width: 1024px){


    .firstText {
        font-size: 1.2em  !important;
        height: auto !important;
        line-height: 1.5;
        color: #bdc3c7;
        text-align: left;
        width: 481px !important;
        /* padding: 5%; */
        /* margin-top: 3px; */
        padding-left: 4% !important;
    }

    .bb-custom-side p {
        font-size: 1.2em !important;
        font-weight: 300;
        line-height: 1.7;
        margin-top: 167px !important;
    }

    .bb-custom-side {
        width: 495px !important;
        float: left;
        /* height: 100%; */
        /* overflow: hidden; */
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        align-items: left;
        text-align: left;
    }

    .mobileLogo{

        margin-left: 16% !important;
    }

}


@media screen and (max-width: 1199px){


    .firstText {
        font-size: 1.2em  !important;
        height: auto !important;
        line-height: 1.5;
        color: #bdc3c7;
        text-align: left;
        width: 481px !important;
        /* padding: 5%; */
        /* margin-top: 3px; */
        padding-left: 4% !important;
    }

    .bb-custom-side p {
        font-size: 1.2em !important;
        font-weight: 300;
        line-height: 1.7;
        margin-top: 167px !important;
    }

    .bb-custom-side {
        width: 0px !important;
        float: left;
        /* height: 100%; */
        /* overflow: hidden; */
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        align-items: left;
        text-align: left;
    }

    .mobileLogo{

        margin-left: 16% !important;
    }

}



@media screen and (max-width: 568px){
    /*.mobileLogo{*/
        /*margin: 0 auto;*/
        /*margin-top: 20px !important;*/
        /*cursor: pointer;*/
        /*max-width: 333px;*/
        /*margin-left: 36px !important;*/
    /*}*/

    /*.bb-custom-firstpage {*/
        /*text-align: center;*/
        /*padding-top: 27%;*/
        /*width: 36%;*/
        /*float: left;*/
        /*height: 100%;*/
        /*font-size: 12px;*/
    /*}*/

    /*.bb-custom-firstpage h1 {*/
        /*font-size: 2.625em;*/
        /*line-height: 1.3;*/
        /*margin: 0;*/
        /*font-weight: 300;*/
        /*margin-left: 96px;*/
        /*display: block;*/
        /*width: 387px;*/
    /*}*/

    /*.authorName{*/

        /*text-align: center;*/
        /*width: 564px;*/
        /*display: block;*/

    /*}*/

    /*hr.style-eight {*/
        /*padding: 0;*/
        /*border: none;*/
        /*border-top: medium double #ccc;*/
        /*color: #8a0707;*/
        /*text-align: center;*/
        /*width: 67%;*/
        /*margin-top: 11px;*/
        /*margin-left: 216px;*/
        /*margin-bottom: -10px;*/
    /*}*/

    /*.firstText {*/
        /*font-size: 14px !important;*/
        /*height: auto !important;*/
        /*line-height: 1.5;*/
        /*color: #bdc3c7;*/
        /*text-align: left;*/
        /*width: 265px !important;*/
        /* padding: 5%; */
        /* margin-top: 3px; */
        /*padding-left: 4% !important;*/
    /*}*/

    /*.bb-custom-side {*/
        /*width: 320px !important;*/
        /*float: left;*/
        /* height: 100%; */
        /* overflow: hidden; */
        /*display: -webkit-box;*/
        /*display: -moz-box;*/
        /*display: -webkit-flex;*/
        /*display: flex;*/
        /*-webkit-flex-direction: row;*/
        /*flex-direction: row;*/
        /*-webkit-flex-wrap: wrap;*/
        /*flex-wrap: wrap;*/
        /*-webkit-box-pack: center;*/
        /*-moz-box-pack: center;*/
        /*-webkit-justify-content: center;*/
        /*justify-content: center;*/
        /*-webkit-box-align: center;*/
        /*-moz-box-align: center;*/
        /*-webkit-align-items: center;*/
        /*align-items: left;*/
        /*text-align: left;*/
        /*font-size: 12px !important;*/
        /*margin-left: 42px;*/
    /*}*/


    /*.fistpageStuff {*/
        /*width: 256px !important;*/
        /*float: left;*/
        /* height: 100%; */
        /* overflow: hidden; */
        /*display: -webkit-box;*/
        /*display: -moz-box;*/
        /*display: -webkit-flex;*/
        /*display: flex;*/
        /*-webkit-flex-direction: row;*/
        /*flex-direction: row;*/
        /*-webkit-flex-wrap: wrap;*/
        /*flex-wrap: wrap;*/
        /*-webkit-box-pack: center;*/
        /*-moz-box-pack: center;*/
        /*-webkit-justify-content: center;*/
        /*justify-content: center;*/
        /*-webkit-box-align: center;*/
        /*-moz-box-align: center;*/
        /*-webkit-align-items: center;*/
        /*align-items: left;*/
        /*text-align: left;*/
        /*font-size: 12px !important;*/
        /*margin-left: 82px;*/
    /*}*/


    /*.textonFirst {*/
        /*font-size: 1.2em;*/
        /*font-weight: 300;*/
        /*line-height: 1.7;*/
        /*margin-top: 253px !important;*/
    /*}*/

    /*.bb-custom-side p {*/
        /*font-size: 1.2em !important;*/
        /*font-weight: 300;*/
        /*line-height: 1.7;*/
        /*margin-top: 167px !important;*/
    /*}*/

    /*.bb-custom-side {*/
        /*width: 307px !important;*/
        /*float: left;*/
        /* height: 100%; */
        /* overflow: hidden; */
        /*display: -webkit-box;*/
        /*display: -moz-box;*/
        /*display: -webkit-flex;*/
        /*display: flex;*/
        /*-webkit-flex-direction: row;*/
        /*flex-direction: row;*/
        /*-webkit-flex-wrap: wrap;*/
        /*flex-wrap: wrap;*/
        /*-webkit-box-pack: center;*/
        /*-moz-box-pack: center;*/
        /*-webkit-justify-content: center;*/
        /*justify-content: center;*/
        /*-webkit-box-align: center;*/
        /*-moz-box-align: center;*/
        /*-webkit-align-items: center;*/
        /*align-items: left;*/
        /*text-align: left;*/
        /*font-size: 12px !important;*/
        /*margin-left: -24px;*/
    /*}*/

    /*hr.style-eight {*/
        /*padding: 0;*/
        /*border: none;*/
        /*border-top: medium double #ccc;*/
        /*color: #8a0707;*/
        /*text-align: center;*/
        /*width: 64% !important;*/
        /*margin-top: 20px;*/
    /*}*/


    /*.mobileMenu{*/

        /*float: left;*/
        /*margin-top: 22px;*/
        /*cursor: pointer;*/
        /*max-width: 80px;*/


    /*}*/

}


@media screen and (max-width: 400px) {


    .mobileLogo {
        margin: 0 auto;
        margin-top: -78px !important;
        cursor: pointer;
        max-width: 310px;
        margin-left: 11px !important;
    }


    .mobileMenu{

        float: left;
        margin-top: 50px !important;
        cursor: pointer;
        max-width: 80px;
        postion: realtive;
        position: relative;
        top: -49px;
    }
    .bb-custom-firstpage {
    text-align: center;
    padding-top: 27%;
    width: 36%;
    float: left;
    height: 100%;
    font-size: 12px;
    }

    .bb-custom-firstpage h1 {
    font-size: 2.625em;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
    margin-left: 96px;
    display: block;
    width: 387px;
    }

    .authorName{

    text-align: center;
    width: 564px;
    display: block;

    }

    hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #ccc;
    color: #8a0707;
    text-align: center;
    width: 67%;
    margin-top: 11px;
    margin-left: 216px;
    margin-bottom: -10px;
    }

    .firstText {
    font-size: 14px !important;
    height: auto !important;
    line-height: 1.5;
    color: #bdc3c7;
    text-align: left;
    width: 265px !important;
     padding: 5%;
     margin-top: 3px;
    padding-left: 4% !important;
    }

    .bb-custom-side {
    width: 320px !important;
    float: left;
     height: 100%;
     overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    align-items: left;
    text-align: left;
    font-size: 12px !important;
    margin-left: 42px;
    }


    .fistpageStuff {
    width: 256px !important;
    float: left;
     height: 100%;
     overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    align-items: left;
    text-align: left;
    font-size: 12px !important;
    margin-left: 82px;
    }


    .textonFirst {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 253px !important;
    }

    .bb-custom-side p {
    font-size: 1.2em !important;
    font-weight: 300;
    line-height: 1.7;
    margin-top: 167px !important;
    }

    .bb-custom-side {
    width: 307px !important;
    float: left;
     height: 100%;
     overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    align-items: left;
    text-align: left;
    font-size: 12px !important;
    margin-left: -24px;
    }

    hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #ccc;
    color: #8a0707;
    text-align: center;
    width: 64% !important;
    margin-top: 20px;
    }

    .bb-item {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: #212121;
        overflow: scroll;
    }

    .firstText {
        font-size: 14px !important;
        height: auto !important;
        line-height: 1.5;
        color: #bdc3c7;
        text-align: left;
        width: 265px !important;
        padding: 5%;
        margin-top: 3px;
        padding-left: 4% !important;
        margin-left: 19px;
    }

    .fistpageStuff {
        width: 256px !important;
        float: left;
        height: 100%;
        overflow: scroll;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        align-items: left;
        text-align: left;
        font-size: 12px !important;
        /* margin-left: 82px; */
        margin-top: 281px;
        margin-left: -121px;
    }

    .textonFirst {
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.7;
        margin-top: 308px !important;
    }

    .bb-custom-firstpage h1 {
        font-size: 2.625em;
        line-height: 1.3;
        margin: 0;
        font-weight: 300;
        margin-left: -33px;
        display: block;
        width: 387px;
        margin-top: 59px;
    }

    .authorName {
        text-align: center;
        width: 340px;
        display: block;
        /* margin-left: 32px; */
    }

    hr.style-eight {
        padding: 0;
        border: none;
        border-top: medium double #ccc;
        color: #8a0707;
        text-align: center;
        width: 64% !important;
        margin-top: 20px;
        margin-left: 122px;
    }


    .fistpageStuff {
        width: 256px !important;
        float: left;
        height: 100%;
        overflow: scroll;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        align-items: left;
        text-align: left;
        font-size: 12px !important;
        /* margin-left: 82px; */
        margin-top: 341px;
        margin-left: -121px;
    }

    .bb-custom-wrapper > nav {
        width: 100%;
        height: 40px;
        margin: 1em auto 0;
        position: fixed;
        /* bottom: 20px; */
        z-index: 9999999;
        text-align: center;
        margin-top: -614px;
        left: 80px;
    }


}

/* Desktops and laptops ----------- */
@media only screen
and (max-width : 1199px) {


    .bb-custom-side {
        width: 600px !important;
        float: left;
        height: 100%;
        overflow: hidden;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        align-items: left;
        text-align: left;
        font-size: 12px !important;
        margin-left: -24px;
    }

    .bb-custom-side p {
        font-size: 1.5em !important;
        font-weight: 300;
        line-height: 1.6;
        margin-top: 167px !important;
    }

    .firstText {
        font-size: 1.3em !important;
        height: auto !important;
        line-height: 1.5;
        color: #bdc3c7;
        text-align: left;
        width: 481px !important;
        /* padding: 5%; */
        /* margin-top: 3px; */
        padding-left: 4% !important;
    }
}

@media only screen
and (max-width : 1199px) {
    .bb-custom-side {
        width: 520px !important;
        float: left;
        height: 100%;
        overflow: hidden;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        align-items: left;
        text-align: left;
        font-size: 12px !important;
        margin-left: -24px;
    }





}


/* iPads (portrait) ----------- */
@media only screen
and (max-width : 768px) {


    .bb-custom-firstpage {
        text-align: center;
        padding-top: 21%;
        width: 50%;
        float: left;
        height: 100%;
    }


    .firstText {
        font-size: 1.1em !important;
        height: auto !important;
        line-height: 1.5;
        color: #bdc3c7;
        text-align: left;
        width: 326px !important;
        /* padding: 5%; */
        /* margin-top: 3px; */
        padding-left: 4% !important;
    }

    .bb-custom-side {
        width: 360px !important;
        float: left;
        height: 100%;
        overflow: hidden;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        align-items: left;
        text-align: left;
        font-size: 10px !important;
        margin-left: -24px;
    }
    .bb-custom-side {
        width: 396px !important;
        float: left;
        height: 100%;
        overflow: hidden;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        align-items: left;
        text-align: left;
        font-size: 10px !important;
        margin-left: -12px;
    }

    .mobileLogo {
        margin-left: 6% !important;
    }

    .bb-custom-side {
        width: 396px !important;
        float: left;
        height: 100%;
        overflow: hidden;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        align-items: left;
        text-align: left;
        font-size: 10px !important;
        margin-left: -12px;
        margin-top: -85px;
    }

    /*.mobileLogo {*/
        /*margin: 0 auto;*/
        /*margin-top: 20px !important;*/
        /*cursor: pointer;*/
        /*max-width: 333px;*/
        /*margin-left: 36px !important;*/
    /*}*/

    /*.bb-custom-firstpage {*/
        /*text-align: center;*/
        /*padding-top: 27%;*/
        /*width: 36%;*/
        /*float: left;*/
        /*height: 100%;*/
        /*font-size: 12px;*/
    /*}*/

    /*.bb-custom-firstpage h1 {*/
        /*font-size: 2.625em;*/
        /*line-height: 1.3;*/
        /*margin: 0;*/
        /*font-weight: 300;*/
        /*margin-left: 96px;*/
        /*display: block;*/
        /*width: 387px;*/
    /*}*/

    /*.authorName {*/

        /*text-align: center;*/
        /*width: 564px;*/
        /*display: block;*/

    /*}*/

    /*hr.style-eight {*/
        /*padding: 0;*/
        /*border: none;*/
        /*border-top: medium double #ccc;*/
        /*color: #8a0707;*/
        /*text-align: center;*/
        /*width: 67%;*/
        /*margin-top: 11px;*/
        /*margin-left: 216px;*/
        /*margin-bottom: -10px;*/
    /*}*/

    /*.firstText {*/
        /*font-size: 14px !important;*/
        /*height: auto !important;*/
        /*line-height: 1.5;*/
        /*color: #bdc3c7;*/
        /*text-align: left;*/
        /*width: 265px !important;*/
        /*padding: 5%;*/
        /*margin-top: 3px;*/
        /*padding-left: 4% !important;*/
    /*}*/

    /*.bb-custom-side {*/
        /*width: 320px !important;*/
        /*float: left;*/
        /*height: 100%;*/
        /*overflow: hidden;*/
        /*display: -webkit-box;*/
        /*display: -moz-box;*/
        /*display: -webkit-flex;*/
        /*display: flex;*/
        /*-webkit-flex-direction: row;*/
        /*flex-direction: row;*/
        /*-webkit-flex-wrap: wrap;*/
        /*flex-wrap: wrap;*/
        /*-webkit-box-pack: center;*/
        /*-moz-box-pack: center;*/
        /*-webkit-justify-content: center;*/
        /*justify-content: center;*/
        /*-webkit-box-align: center;*/
        /*-moz-box-align: center;*/
        /*-webkit-align-items: center;*/
        /*align-items: left;*/
        /*text-align: left;*/
        /*font-size: 12px !important;*/
        /*margin-left: 42px;*/
    /*}*/

    /*.fistpageStuff {*/
        /*width: 256px !important;*/
        /*float: left;*/
        /*height: 100%;*/
        /*overflow: hidden;*/
        /*display: -webkit-box;*/
        /*display: -moz-box;*/
        /*display: -webkit-flex;*/
        /*display: flex;*/
        /*-webkit-flex-direction: row;*/
        /*flex-direction: row;*/
        /*-webkit-flex-wrap: wrap;*/
        /*flex-wrap: wrap;*/
        /*-webkit-box-pack: center;*/
        /*-moz-box-pack: center;*/
        /*-webkit-justify-content: center;*/
        /*justify-content: center;*/
        /*-webkit-box-align: center;*/
        /*-moz-box-align: center;*/
        /*-webkit-align-items: center;*/
        /*align-items: left;*/
        /*text-align: left;*/
        /*font-size: 12px !important;*/
        /*margin-left: 82px;*/
    /*}*/

    /*.textonFirst {*/
        /*font-size: 1.2em;*/
        /*font-weight: 300;*/
        /*line-height: 1.7;*/
        /*margin-top: 253px !important;*/
    /*}*/

    /*.bb-custom-side p {*/
        /*font-size: 1.2em !important;*/
        /*font-weight: 300;*/
        /*line-height: 1.7;*/
        /*margin-top: 167px !important;*/
    /*}*/

    /*.bb-custom-side {*/
        /*width: 307px !important;*/
        /*float: left;*/
        /*height: 100%;*/
        /*overflow: hidden;*/
        /*display: -webkit-box;*/
        /*display: -moz-box;*/
        /*display: -webkit-flex;*/
        /*display: flex;*/
        /*-webkit-flex-direction: row;*/
        /*flex-direction: row;*/
        /*-webkit-flex-wrap: wrap;*/
        /*flex-wrap: wrap;*/
        /*-webkit-box-pack: center;*/
        /*-moz-box-pack: center;*/
        /*-webkit-justify-content: center;*/
        /*justify-content: center;*/
        /*-webkit-box-align: center;*/
        /*-moz-box-align: center;*/
        /*-webkit-align-items: center;*/
        /*align-items: left;*/
        /*text-align: left;*/
        /*font-size: 12px !important;*/
        /*margin-left: -24px;*/
    /*}*/

    /*hr.style-eight {*/
        /*padding: 0;*/
        /*border: none;*/
        /*border-top: medium double #ccc;*/
        /*color: #8a0707;*/
        /*text-align: center;*/
        /*width: 64% !important;*/
        /*margin-top: 20px;*/
    /*}*/

    /*.mobileMenu {*/

        /*float: left;*/
        /*margin-top: 22px;*/
        /*cursor: pointer;*/
        /*max-width: 80px;*/

    /*}*/

}

@media only screen
and (max-width : 400px) {

    .firstText {
        font-size: 1.3em !important;
        height: auto !important;
        line-height: 1.5;
        color: #bdc3c7;
        text-align: left;
        width: 326px !important;
        /* padding: 5%; */
        /* margin-top: 3px; */
        padding-left: 4% !important;
        /* margin-bottom: 10px; */
    }

    .bb-item {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: #212121;
        overflow: scroll;
        margin-top: 47px;
    }

    .bb-custom-wrapper > nav {
        width: 100%;
        height: 40px;
        margin: 1em auto 0;
        position: fixed;
        /* bottom: 20px; */
        z-index: 9999999;
        text-align: center;
        /* margin-top: -614px; */
        left: 110px;
        /* margin-top: 100px; */
        top: -12px;
    }
    hr.style-eight {
        padding: 0;
        border: none;
        border-top: medium double #ccc;
        color: #8a0707;
        text-align: center;
        width: 64% !important;
        margin-top: 20px;
        margin-left: 100px;
    }

    .authorName {
        text-align: center;
        width: 323px;
        display: block;
        /* margin-left: 32px; */
    }

    body{

        overflow: hidden;
    }

    hr.style-eight {
        padding: 0;
        border: none;
        border-top: medium double #ccc;
        color: #8a0707;
        text-align: center;
        width: 64% !important;
        margin-top: 20px;
        margin-left: 105px;
    }

    .bb-custom-firstpage {
        text-align: center;
        padding-top: 21%;
        width: 5%;
        float: left;
        height: 100%;
        /*margin-bottom: -61px;*/
    }

    .newBox{

        position: relative;
        top: -105px;

    }

    /*.bb-custom-side p {*/
        /*font-size: 1.6em !important;*/
        /*font-weight: 300;*/
        /*line-height: 1.6;*/
        /*margin-top: 167px !important;*/
    /*}*/

    /*.bb-custom-side {*/
        /*width: 425px !important;*/
        /*float: left;*/
        /*height: 100%;*/
        /*overflow: hidden;*/
        /*display: -webkit-box;*/
        /*display: -moz-box;*/
        /*display: -webkit-flex;*/
        /*display: flex;*/
        /*-webkit-flex-direction: row;*/
        /*flex-direction: row;*/
        /*-webkit-flex-wrap: wrap;*/
        /*flex-wrap: wrap;*/
        /*-webkit-box-pack: center;*/
        /*-moz-box-pack: center;*/
        /*-webkit-justify-content: center;*/
        /*justify-content: center;*/
        /*-webkit-box-align: center;*/
        /*-moz-box-align: center;*/
        /*-webkit-align-items: center;*/
        /*align-items: left;*/
        /*text-align: left;*/
        /*font-size: 10px !important;*/
        /*margin-left: -20px;*/
        /*margin-top: -85px;*/
    /*}*/





}

