/*=============================================
[ Inactive Styles ]
==============================================*/
.social-shadow {
    display: inline-block;
    overflow: visible;
    margin-right: 0;
}
/* Gradient Offsets */
.offset0 {
    stop-color: #000000;
    stop-opacity: 0.5;
}
.offset1 {
    stop-color: #000000;
    stop-opacity: 0.2;
}
.offset2 {
    stop-color: #000000;
    stop-opacity: 0.173;
}
.offset3 {
    stop-color: #000000;
    stop-opacity: 0;
}
.offset4 {
    stop-color: #000000;
    stop-opacity: 0.7;
}
.offset5 {
    stop-color: #000000;
    stop-opacity: 0.1143;
}
.offset6 {
    stop-color: #000000;
    stop-opacity: 0.1106;
}
.social-shadow { overflow: visible }
/* Gradient IDs */
.social-shadow .icon_circle_shadow {
    fill: url(#icon_circle_gradient);
    fill-opacity: 0.7;
    opacity: 1;
    -webkit-transition: all .4s ease;
    -moz-transition: all 4s ease;
    transition: all .4s ease;
}
.social-shadow .icon_shape_shadow {
    fill: url(#icon_shape_gradient);
    fill-opacity: 0.9;
}
/* Icon Styles */
.social-shadow .icon_circle {
    stroke: #FFFFFF;
    stroke-width: 5;
    stroke-miterlimit: 10;
    fill: none;
}
.social-shadow .icon_shape { fill: #fff }
/*=============================================
[ Hover Styles ]
==============================================*/
.social-shadow:hover {
    display: inline-block;
    width: 134px;
    height: 138px;
    cursor: pointer;
}
.social-shadow:hover .social-shadow {
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.social-shadow:hover .icon_circle_shadow { opacity: 0 }
.social-shadow:hover .icon_shape_shadow { opacity: 0 }
.social-shadow:hover .icon_circle {
    stroke: #FFFFFF;
    stroke-width: 5;
    stroke-miterlimit: 10;
    fill: none;
}
.social-shadow:hover .icon_shape { fill: #FFFFFF }
.social-shadow:hover .icon_shape {
    -moz-transform: scale(1,1);
    -webkit-transform: scale(1,1);
    transform: scale(1,1);
    /*animation-name*/
    -webkit-animation-name: burst2;
    -moz-animation-name: burst2;
    -ms-animation-name: burst2;
    -o-animation-name: burst2;
    animation-name: burst2;
    /*animation-duration*/
    -webkit-animation-duration: .4s;
    -moz-animation-duration: .4s;
    -ms-animation-duration: .4s;
    -o-animation-duration: .4s;
    animation-duration: .4s;
    /*transform-origin*/
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 40px 38px !important;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
/*=============================================
[ KeyFrame Animations ]
==============================================*/
@-webkit-keyframes burst2 { 
    100% {
        -webkit-transform: scale(1,1);
        animation-timing-function: ease-in;
    }
    37% {
        -webkit-transform: scale(1.5,1.5);
        animation-timing-function: ease-out;
    }
    55% {
        -webkit-transform: scale(1.37,1.37);
        animation-timing-function: ease-in;
    }
    73% {
        -webkit-transform: scale(1,1);
        animation-timing-function: ease-out;
    }
    82% {
        -webkit-transform: scale(1.45,1.45);
        animation-timing-function: ease-in;
    }
    91% {
        -webkit-transform: scale(1.5,1.5);
        animation-timing-function: ease-out;
    }
    96% {
        -webkit-transform: scale(1.4,1.4);
        animation-timing-function: ease-in;
    }
}
@-moz-keyframes burst2 { 
    100% {
        -moz-transform: scale(1,1);
        animation-timing-function: ease-in;
    }
    37% {
        -moz-transform: scale(1.5,1.5);
        animation-timing-function: ease-out;
    }
    55% {
        -moz-transform: scale(1.37,1.37);
        animation-timing-function: ease-in;
    }
    73% {
        -moz-transform: scale(1,1);
        animation-timing-function: ease-out;
    }
    82% {
        -moz-transform: scale(1.45,1.45);
        animation-timing-function: ease-in;
    }
    91% {
        -moz-transform: scale(1.5,1.5);
        animation-timing-function: ease-out;
    }
    96% {
        -moz-transform: scale(1.4,1.4);
        animation-timing-function: ease-in;
    }
}
@keyframes burst2 { 
    100% {
        transform: scale(1,1);
        animation-timing-function: ease-in;
    }
    37% {
        transform: scale(1.5,1.5);
        animation-timing-function: ease-out;
    }
    55% {
        transform: scale(1.37,1.37);
        animation-timing-function: ease-in;
    }
    73% {
        transform: scale(1,1);
        animation-timing-function: ease-out;
    }
    82% {
        transform: scale(1.45,1.45);
        animation-timing-function: ease-in;
    }
    91% {
        transform: scale(1.5,1.5);
        animation-timing-function: ease-out;
    }
    96% {
        transform: scale(1.4,1.4);
        animation-timing-function: ease-in;
    }
}