/**
 * Parallax Scrolling Tutorial
 * For Smashing Magazine
 * July 2011
 *  
 * Author: Richard Shepherd
 *		   www.richardshepherd.com
 * 		   @richardshepherd   
 */


html{
    font-family: 'Lato', sans-serif;

}


article h2 { font-family: 'Lobster Two'; font-size: 60px; margin: 25px 0; line-height: 1em; }

.story { height: 950px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
.storyOne { height: 650px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
.storyThree { height: 670px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }


.storyTwo { height: 670px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
.storyFour { height: 670px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }

.storyFive { height: 650px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }


#first { background: url(../images/mainBackground.png) 50% 0 no-repeat fixed; }
#second{ background: url(../images/what-is-ciirus.png) 50% 0 no-repeat fixed; }
#third { background: url(../images/what-ciirus-has-to-offer.png) 50% 0 no-repeat fixed; }
#fourth{ background: url(../images/multiPlatform.png) 50% 0 no-repeat fixed; }
#theend { background: url(../images/tryCiirus.png) 50% bottom no-repeat fixed; }

/* Introduction */
#first .smashinglogo { background: url(../images/smashing-logo.png) 50% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#first article { width: 100%; top: 300px; position: absolute; text-align: center; }
#first article p,
#first article a { color: #ccc; }
#first article a { text-decoration: underline; }
#first article a:hover { color: #fff; }

/* Background Only */
#second { padding: 50px 0;}
#second article { background: url(../images/what-is-ciirus.png) repeat #333; color: #fff; width: 445px; margin-left: 100px; padding: 10px 20px; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#second article p { margin-bottom: 25px; }
#second article a { color: #ff0;}

/* Photograph */
#third article {  background: url(../images/what-is-ciirus.png) repeat #333; color: #fff; padding: 10px 20px; margin: 100px 0 0 60%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; box-shadow: 0 0 25px rgba(0,0,0,0.3); border: 1px solid rgba(150,150,150,0.1); }
#third .photograph { background: url(../images/photo.png) transparent 40% 100px no-repeat fixed; min-height: 1000px; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }
#third article p { width: 300px; margin-bottom: 25px; }

/* HTML5 Video */
#fourth article {  margin-left: 10%; text-shadow: 0 -1px 0 rgba(0,0,0,0.5); line-height: 1.5em; color: #fff; position: absolute; top: 0; }
#fourth article p { width: 300px; margin: 50px 0; }
#fourth video { position: fixed; left: 50%; box-shadow: 0 0 25px rgba(0,0,0,0.7); z-index: 1;}

/* The End */
#theend .byebye { background: url(../images/theend.png) 40% 100px no-repeat fixed; padding: 0; margin: 0; width: 100%; max-width: 1920px; position: relative; margin: 0 auto; }

.menu{
    width: 100%;
    height: 65px;
    background-color: white !important;;

    position: fixed;
    z-index: 99999999999999;
    box-shadow: 1px 5px 8px -1px rgba(40,40,40,1);




}

.logo{

    background-image: url("../images/ciirusLogo.png");
    background-repeat: no-repeat;
    width: 265px;
    height: 49px;
    text-indent: -999999px;
    display:inline-block;
    margin-left: 10px;
    margin-top: 8px;
}

/*.subHead{*/

    /*display:inline-table;*/
    /*margin-top: 48px;*/
    /*margin-left: -204px;*/
/*}*/

.navMenu{

    float: right;
    width: 663px;
    list-style-type: none;
    margin-top: 72px;
}

.navMenu li{

    display: inline;
    width: 100px;
    margin-right: 8px;
    font-size: 14px;
    color: #282828 !important;

}

.navMenu a:hover{

    transition: ease-in-out all .2s;
    -moz-transition: ease-in-out all .2s;
    -webkit-transition: ease-in-out all .3s;
    background-color:#ff8b21 !important;;
    color:white !important;;
    text-decoration:none;
    padding: 4px;
    text-decoration: none;
    list-style-type: none;
    text-align: center;

}
li:hover{
    color:white !important;;


}



.signInBoxOne:hover{

    transition: ease-in-out all .2s;
    -moz-transition: ease-in-out all .2s;
    -webkit-transition: ease-in-out all .3s;
    background-color:#ff8b21 !important;;
    color:white !important;;
    text-decoration:none;
    font-weight:bold;
}
.signInBoxTwo:hover{

    transition: ease-in-out all .2s;
    -moz-transition: ease-in-out all .2s;
    -webkit-transition: ease-in-out all .3s;
    background-color:#ff8b21 !important;;
    color:white !important;;
    text-decoration:none;
    font-weight:bold;
}

.signInBoxOne {

    width: 160px;
    height: 46px;
    background-color: #006eff !important;;
    display: inline-block;
    position: absolute;
    right: 344px;
    color:white !important;;
    text-align: center;
    padding-top: 10px;
    top: 10px;
}

.signInBoxTwo {

    width: 160px;
    height: 46px;
    background-color: #006eff !important;;
    display: inline-block;
    position: absolute;
    right: 174px;
    color:white !important;;
    text-align: center;
    padding-top: 10px;
    top:  10px;


}


.trybutton{




    width: 270px;
    height: 70px;
    display: inline-block;
    position: absolute;
    color: white !important;
    margin-left: 73%;
    margin-top: -2px;
    /*box-shadow: 1px 5px 8px -1px rgba(40,40,40,1);*/
    background-image:url("../images/trybtn.png");
    background-repeat:no-repeat;



}


.newNav{

    width: 554px;
    height: 46px;
    background-color: #ecf0f1!important;
    display: inline-block;
    position: absolute;
    color: white !important;
    maring-left: 20%;
    margin-left: 25%;
    margin-top: -2px;
    box-shadow: 1px 5px 8px -1px rgba(40,40,40,1);


}




.trialBox {

    width: 145px;
    height: 55px;
    display: inline-block;
    position: absolute;
    padding-top: 10px;
    background-image: url("../images/trialButton.png");
    background-repeat: no-repeat;
    margin-top: -2px;

}
a{

    text-decoration: none;
}

.Title{

    display: inline;
    font-size: 3.5em;
    color:#ecf0f1 !important;;
    font-weight: bold;
    position: relative;
    top: -96px;
}

.innerText{

    margin: 0 auto;
    display:inline;
    position: relative;
    top: -92px;


}

.nt{

    display: inline;
    font-size: 2.9em;
    color:#ff8b21 !important;;
    margin-right: 10px;

}
.ntTwo{

    display: inline;
    font-size: 0.8em;
    color:#ff8b21;
    font-weight: 200;

}
.ntThree{
    display: inline-block;
    font-size: 1.5em;
    color:#ff8b21 !important;;
    font-weight: 100;


}

.rt{

    display: inline;
    font-size: 2.5em;
    color:#ecf0f1 !important;
    margin-right: 10px;
    font-weight: 100;



}
.boxOne{

    width: 290px;
    height: 342px;
    background-image: url("../images/descpBox.png");
    background-repeat: no-repeat;
    float: left;


}
.boxTwo{

    width: 290px;
    height: 342px;
    background-image: url("../images/descpBox.png");
    background-repeat: no-repeat;
    float: left;
    margin-right: 20px;
    margin-left: 20px;



}
.boxThree{

    width: 290px;
    height: 342px;
    background-image: url("../images/descpBox.png");
    background-repeat: no-repeat;
    float: left;



}

.boxContaier{

    width: 940px;
    height: auto;
    background-color: green;
    margin: 0 auto;
    margin-top: 185px
}

.iconImg{

    background-image: url("../images/userIcon.png");
    background-repeat: no-repeat;
    width: 108px;
    height: 111px;
    position: relative;
    top: -32px;
    left: 110px;

}

.iconImgTwo{

    background-image: url("../images/iconImgTwo.png");
    background-repeat: no-repeat;
    width: 108px;
    height: 111px;
    position: relative;
    top: -32px;
    left: 110px;

}
.iconImgThree{

    background-image: url("../images/iconImgThree.png");
    background-repeat: no-repeat;
    width: 108px;
    height: 111px;
    position: relative;
    top: -32px;
    left: 110px;

}
.boxText li{

    color: #282828 !important;
    margin-top: 10px;
    font-family: "open sans";
    font-style: italic;
    font-size: 19px;
    font-weight: 100;
    list-style-type: none;
    margin-left: 0!important;


}
.boxText ul{
    margin-left: 0!important;



}

.videoBtn{

    width: 170px;
    height: 54px;
    background-color: #ff8b21;
    /*margin-top: 16px;*/
    /*margin-bottom: -58px;*/

    margin: 0 auto;
    font-family: "open sans";
    font-style: italic;
    font-size: 19px;
    font-weight: 100;
    color:white!important;
    margin-bottom: -55px;
    margin-top: 10px;
    margin-left: 43%;
}

.videoText{
    font-family: "open sans";
    font-style: normal;
    font-size: 19px;
    font-weight: 100;
    color: white;
    display: inline-block;
    margin-top: 15px;
    color:white!important;



}

.offerTitle{

    display: inline;
    color:white;
    font-kerning:normal;
    font-weight: 100;
    position: relative;
    top: 48px;
    font-size: 3.2em;
    margin-left: 32%;

}

.ntTwo{

    display: inline;
    font-size: 0.8em;
    color:#ff8b21;
    font-weight: 200;

}

.welcomeText{

    display:inline-block;
    width:540px;
    color:white;
    font-weight: 100;
    font-size: 1.5em;
    margin-left: 40px;
    margin-top: 100px;
}
.navMenu{

    float: right;
    width: 530px;
    list-style-type: none;
    /* margin-top: 6px; */
    font-size: 1.3em;
    margin: 0 auto;
    padding-top: 10px;
}

.subHead{

    display:inline-table;
    margin-top: 8px;
    margin-left: 13px;
    font-size: 1.5em;

}


.als-container {
    position: relative;
    width: 64% !important;
    margin: 0px auto;
    z-index: 0;
    top: 100px !important;
}

.als-containerTwo {
    position: relative;
    width: 20% !important;
    margin: 10px auto;
    z-index: 0;
    top: -314px !important;
    right: -500px;
}

.als-viewport {
    position: relative;
    overflow: hidden;
    margin: 0px auto;
}

.als-wrapper {
    position: relative;
    list-style: none;
}

.als-item {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
}

.als-prev, .als-next {
    position: absolute;
    cursor: pointer;
    clear: both;
}


.als-viewportTwo {
    position: relative;
    overflow: hidden;
    margin: 10px auto;
}

.als-wrapperTwo {
    position: relative;
    list-style: none;
}

.als-itemTwo {
    position: relative;
    display: block;
    text-align: center;
    cursor: pointer;
    float: left;
}

.als-prevTwo, .als-nextTwo {
    position: absolute;
    cursor: pointer;
    clear: both;
}

#demo3 {
    margin: 40px auto;
}

#demo3 .als-item {
    margin: 0px 5px;
    padding: 4px 0px;
    min-height: 120px;
    min-width: 100px;
    text-align: center;
}

#demo3 .als-item img {
    display: block;
    margin: 0 auto;
    vertical-align: middle;
}

#demo3 .als-prev, #demo3 .als-next {
    top: 40px;
}

#demo3 .als-prev {
    left: 200px;
}

#demo4 .als-next {
    right: 200px;
}

#demo4 .als-prev, #demo4 .als-next {
    top: 40px;
}

#demo4 .als-prev {
    left: 200px;
}

#demo4 .als-next {
    right: 200px;
}

.updateText{
    font-weight: 100 !important;
    position: relative;
    font-size: 2.2em!important;
    color: white!important;
    float: right;
    margin-top: -361px;
    margin-right: 35px;

}

.whatCiirus{

    /* font-size: 3.5em; */
    /* font-family: "Helvetica Neue"; */
    /* font-weight: 100; */
    /* color: white; */
    /* display: inline; */
    /* font-style: italic; */
    /* margin-top: 10px; */
    /* padding-top: 10px; */
    /* top: 13px !important; */
    /* position: relative; */
    /* left: 83px !important; */
    /* text-align: center; */
    margin-left: 35%;
    color: #ecf0f1;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0;
    padding: 0 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: inline;
    /* padding-left: 37%; */
    /* margin-top: 19px; */
    /* padding-top: 24px; */
    top: 16px;
    position: relative;
    left: 183px;
    top: 117px;



}



.whatCiiruslittle{
    font-size: 1.9em;
    font-family: "Helvetica Neue";
    font-weight: 100;
    color: white;
    display: inline;
    font-style: italic;
    /* margin-top: 10px; */
    /* padding-top: 10px; */
    top: 157px !important;
    position: relative;
    left: -286px !important;
    display:none


}

#startItclicking{
    font-size: 1em;
    font-family: "Helvetica Neue";
    font-weight: 300;
    color: white;
    display: inline;
    font-style: italic;
    /* margin-top: 10px; */
    /* padding-top: 10px; */
    top: -1px !important;
    position: relative;
    left: -1px !important;
    color: #ff8b21;
    display: inline;
    text-decoration: none;
    cursor: pointer;


}

.ciirusContainer{

    width: 1243px;
    padding: 25px;
    position: relative;
    top: 200px;
    margin-left: 13% !important;
}



.stats{
    background-image: url("../images/lock.png");
    width: 262px;
    height: 141px;
    background-repeat: no-repeat;
    float: left;
    line-height: 1.5;
    /* padding: 118px; */
    padding-right: 48px;
    padding-top: 157px;
    color: white;
    display:inline-block;
    font-size: 16px;
    margin-left: 100px;
    margin-right: 60px;




}

.calendar{

    background-image: url("../images/development.png");
    width: 262px;
    height: 141px;
    background-repeat: no-repeat;
    float: left;
    line-height: 1.5;
    /* padding: 118px; */
    padding-right: 48px;
    padding-top: 157px;
    color: white;
    display:inline-block;
    font-size: 16px;
    margin-right: 60px;

}

.iconText{
    width: 223px;
    height: 141px;
    line-height: 1.5;
    color: white;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin-left: -15%;
    font-family: 'Lato', sans-serif;




}



.iconTextTitle{
    width: 223px;
    height: 141px;
    line-height: 1.5;
    color: #282828;
    display: inline;
    font-size: 1em;
    text-align: center;
    margin-left: 13%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;




}

.home{

    background-image: url("../images/user.png");
    width: 262px;
    height: 141px;
    background-repeat: no-repeat;
    float: left;
    line-height: 1.5;
    /* padding: 118px; */
    padding-right: 48px;
    padding-top: 157px;
    color: white;
    display:inline-block;
    font-size: 16px;


}

.group{

    background-image: url("../images/group.png");
    width: 262px;
    height: 141px;
    background-repeat: no-repeat;
    float: left;
    line-height: 1.5;
    /* padding: 118px; */
    padding-right: 48px;
    padding-top: 157px;
    color: white;
    display:inline-block;
    font-size: 16px;


}




.learn {
    width: 174px;
    height: 47px;
    /* background-color: #ff8b21; */
    /* float: left; */
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 3;
    position: relative;
    top: 328px;
    left: -591px;
    border: 2.5px solid white;
    clear: both;
    /* margin: 0 auto; */
}





.learn:hover{

        /*background-color: #ff8b21;*/
    border: 2.5px solid #ff8b21;
    color: #ff8b21 !important;

    -moz-transition: all 0.3s ease-in;
        /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;

    -moz-transition: all 0.3s ease-out;
    /* WebKit */
    -webkit-transition: all 0.3s ease-out;
    /* Opera */
    -o-transition: all 0.3s ease-out;
    /* Standard */
    transition: all 0.3s ease-out;




}



.more{

    width: 93px;
    height: 30px;
    border: 1px solid #ff8b21;
    display: inline-block;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    position: relative;
    top: -89px;
    margin-left: 14%;


}

.more:hover{

    background-color: #ff8b21;
    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;




}

.nextOne{


    display: inline;
    color: white;
    position: relative;
    left: 159px;
    top: -281px;
    font-style: italic;
    font-size: 1.9em;
    font-weight: 200;
    cursor: pointer;
}

.nextOne:hover{


    color: #ff8b21;
    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;


}

.slidetwoTitle{

    color: #ecf0f1;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0;
    padding: 0 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: inline;
    padding-left: 33%;
    /* margin-top: 19px; */
    /* padding-top: 24px; */
    top: 90px;
    position: relative;
    left: -88px;



}

.slidetwoSub{

    color: #3F4D5E;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0;
    padding: 0 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: inline;
    padding-left: 21%;
    position: relative;
    top: 94px;
    left: 107px;



}


.slidetwoSubWork{

    color: #3F4D5E;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0;
    padding: 0 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: inline;
    padding-left: 21%;
    position: relative;
    top: 291px;
    left: 218px;



}



.slidetwoSubWorkFour{

    color: #3F4D5E;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0;
    padding: 0 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: inline;
    padding-left: 21%;
    position: relative;
    top: 291px;
    left: 218px;



}

/*.titleContainer{*/

/*width: 980px;*/
    /*margin: 0 auto;*/

/*}*/


.slidetwoContent{
    color: #ecf0f1;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 28px auto 0;
    max-width: 640px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: block;
    position: relative;
    top: 109px;
    left: 388px;


}


.slidetwoContentFour{
    color: #ecf0f1;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 28px auto 0;
    max-width: 640px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: block;
    position: relative;
    top: 72px;
    left: 413px;


}

.color{

    color: green;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0;
    padding: 0 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: inline;
    padding-left: 21%;
    position: relative;
    top: 94px;




}

.iconBackground{

    width: 135px;
    height: 135px;
    background-image: url("../images/iconBackground.png");
    background-repeat: no-repeat;
    position: relative;
    top: 84px;
    left: 232px;
    z-index: 8;
    opacity: 0.45;


}

.iconTitle{

    display: inline-block;
    float: right;
    /* width: 321px; */
    position: relative;
    top: -83px;
    left: 140px;
    font-family: 'Lato', sans-serif;
    fon-weight: bold;
    font-weight: bold;
    color: #ecf0f1;
    letter-spacing: 7.5;
    letter-spacing: 0.6px;

  }


  .iconWebText{

      display: inline-block;
      float: right;
      /* width: 321px; */
      position: relative;
      top: -49px;
      left: 386px;
      font-family: 'Lato', sans-serif;
      fon-weight: bold;
      font-weight: bold;
      color: #3F4D5E;
      letter-spacing: 7.5;
      letter-spacing: 0.6px;
      width: 275px;
}
.clockTitle{

    position: relative;
    top: 25px;
    left: 337px;
    font-family: 'Lato', sans-serif;
    fon-weight: bold;
    font-weight: bold;
    color: #ecf0f1;
    letter-spacing: 7.5;
    letter-spacing: 0.6px;
    margin: 0;
    padding: 0;
    displa: inline;
    /* display: inline-block; */
    clear: both;
    /* width: 94px; */
    display: block;
    float: left;
}

.clockText{

    display: inline;
    flaot: left;
    /* float: right; */
    display: inline-block;
    float: right;
    /* width: 321px; */
    position: relative;
    top: 49px;
    left: -824px;
    font-family: 'Lato', sans-serif;
    fon-weight: bold;
    font-weight: bold;
    color: #3F4D5E;
    letter-spacing: 7.5;
    letter-spacing: 0.6px;
    width: 275px;

}

.accountTitle{

    display: inline-block;
    float: right;
    /* width: 321px; */
    position: relative;
    top: -80px;
    left: -436px;
    font-family: 'Lato', sans-serif;
    fon-weight: bold;
    font-weight: bold;
    color: #ecf0f1;
    letter-spacing: 7.5;
    letter-spacing: 0.6px;
}

.accountText{
    display: inline-block;
    float: right;
    /* width: 321px; */
    position: relative;
    top: -45px;
    left: -187px;
    font-family: 'Lato', sans-serif;
    fon-weight: bold;
    font-weight: bold;
    color: #3F4D5E;
    letter-spacing: 7.5;
    letter-spacing: 0.6px;
    width: 275px;

}

.homeTitle{

    position: relative;
    top: -70px;
    left: 437px;
    font-family: 'Lato', sans-serif;
    fon-weight: bold;
    font-weight: bold;
    color: #ecf0f1;
    letter-spacing: 7.5;
    letter-spacing: 0.6px;
    margin: 0;
    padding: 0;
    displa: inline;
    /* display: inline-block; */
    clear: both;
    /* width: 94px; */
    display: block;
    float: left;
}

.homeText{
    display: inline;
    flaot: left;
    /* float: right; */
    display: inline-block;
    float: right;
    /* width: 321px; */
    position: relative;
    top: -44px;
    left: -720px;
    font-family: 'Lato', sans-serif;
    fon-weight: bold;
    font-weight: bold;
    color: #3F4D5E;
    letter-spacing: 7.5;
    letter-spacing: 0.6px;
    width: 275px;


}


.workCited{

    width: 1300px;
    height: auto;
    margin: 0 auto;


}

.workBoxOne{

    width: 400px;
    height: 280px;
    /*background-color: green;*/
    background-image:url("../images/workcitedOne.png");
    background-repeat: no-repeat;

    /* margin: 20px; */
    position: relative;
    top: 231px;
    float: left;
    margin-right: 10px;
    margin-left: 49px;


}


.workBoxTwo{

    width: 400px;
    height: 280px;
    /*background-color: green;*/
    background-image:url("../images/workcitedTwo.png");
    background-repeat: no-repeat;
    /* margin: 20px; */
    position: relative;
    top: 231px;
    float: left;
    margin-right: 10px;

}


.workBoxThree{

    width: 400px;
    height: 280px;
    background-image:url("../images/workcitedThree.png");
    background-repeat: no-repeat;
    position: relative;
    top: 231px;
    float: left;

}

.workBoxFour{

    width: 400px;
    height: 280px;
    background-image:url("../images/workcitedFour.png");
    background-repeat: no-repeat;
    position: relative;
    top: 231px;
    float: left;
    margin-right: 10px;
    margin-left: 49px;
    margin-top: 10px;



}


.workBoxFive{

    width: 400px;
    height: 280px;
    background-image:url("../images/workcitedFive.png");
    background-repeat: no-repeat;
    position: relative;
    top: 231px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;


}


.workBoxSix{

    width: 400px;
    height: 280px;
    background-image:url("../images/workcitedSix.png");
    background-repeat: no-repeat;
    position: relative;
    top: 231px;
    float: left;
    margin-top: 10px;

}


.overlayOne{
    width: 420px;
    height: 280px;
    background-image: url("../images/overlayOne.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 283px;
    left: 114px;





}

.overlayTwo{

    width: 420px;
    height: 280px;
    background-image: url("../images/overlayTwo.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 283px;
    left: 524px;





}


.overlayThree{

    width: 420px;
    height: 280px;
    background-image: url("../images/overlayThree.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 283px;
    left: 934px;





}

.overlayFour{

    width: 420px;
    height: 280px;
    background-image: url("../images/overlayFour.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 573px;
    left: 114px;
}







.overlayFive{

    width: 420px;
    height: 280px;
    background-image: url("../images/overlayFive.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 573px;
    left: 524px;





}

.overlaySix{
    width: 420px;
    height: 280px;
    background-image: url("../images/overlaySix.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 573px;
    left: 934px;





}



.partners{

    margin: 0 auto;
    border: 2px solid #666;
    width: 151px;
    height: 40px;
    position: relative;
    top: 329px;
    left: 5px;
}

.partnerText{

    display: inline;
    /* margin: 0 auto; */
    /* text-align: center; */
    padding: 17px;
    line-height: 2;
    font-size: 18px;
}

a .partnerText{

    text-decoration: none;
    color: #666;
}


a .partners:hover{
    border-color: #27ae60;
    text-decoration: none;
    color: #27ae60;


    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;

    -moz-transition: all 0.3s ease-out;
    /* WebKit */
    -webkit-transition: all 0.3s ease-out;
    /* Opera */
    -o-transition: all 0.3s ease-out;
    /* Standard */
    transition: all 0.3s ease-out;
}


.getStarted{

    margin: 0 auto;
    border: 2px solid #666;
    width: 191px;
    height: 51px;
    position: relative;
    top: 88px;
    /* left: 5px;
    }

    .getStartedText{

        display: inline;
        /* margin: 0 auto; */
    /* text-align: center; */
    padding: 17px;
    line-height: 2;
    font-size: 18px;
    left: 5px;

    background-color: #27ae60;

}

.getStartedText{

    text-decoration: none;
    color: white;
    padding: -1px;
    /* margin: 0 auto; */
    /* display: block; */
    font-size: 24px;
    top: -16px;
    position: relative;
    left: 14px;
    cursor:pointer;
}


p .getStartedText:hover{
    text-decoration: none;
    color: #ecf0f1;


    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;

    -moz-transition: all 0.3s ease-out;
    /* WebKit */
    -webkit-transition: all 0.3s ease-out;
    /* Opera */
    -o-transition: all 0.3s ease-out;
    /* Standard */
    transition: all 0.3s ease-out;
}














a .getStarted:hover{

    list-style: none;
    text-decoration: none !important;
    background-color: #2ecc71;



    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;

    -moz-transition: all 0.3s ease-out;
    /* WebKit */
    -webkit-transition: all 0.3s ease-out;
    /* Opera */
    -o-transition: all 0.3s ease-out;
    /* Standard */
    transition: all 0.3s ease-out;
}

a:hover{

    text-decoration: none;

}



.close{

    position: relative;
    top: 12px;
    left: -151px;
    opacity: 1 !important;
    color: #e67e22 !important;
    background:none !important;
}




.mac{

    position: relative;
    top: 62px;
    display: block;
    width: 1000px;
    height: 489px;
    background-image: url("../images/mac.png");
    /* left: 20px; */
    margin: 0 auto;
    /*margin-top: -46px;*/


}

#phone{
    margin: 0 auto;
    display: block;
    /* margin-top: 50px; */
    position: relative;
    top: 100px;
    width: 385px;
    height: 48px;
    border: none;
    margin-bottom: 10px;
    font-size: 35px;
    color: #E67E22;
    font-weight: 300;
    float: left;
    margin-left: 91px;




}

#name{
    margin: 0 auto;
    display: block;
    /* margin-top: 50px; */
    position: relative;
    top: 100px;
    width: 385px;
    height: 48px;
    border: none;
    margin-bottom: 10px;
    font-size: 35px;
    color: #E67E22;
    font-weight: 300;
    float: left;
    margin-left: 91px;




}

#email{
    margin: 0 auto;
    display: block;
    /* margin-top: 50px; */
    position: relative;
    top: 100px;
    width: 385px;
    height: 48px;
    border: none;
    margin-bottom: 10px;
    font-size: 35px;
    color: #E67E22;
    font-weight: 300;
    float: left;
    margin-left: 46px;




}

#country{
    margin: 0 auto;
    display: block;
    /* margin-top: 50px; */
    position: relative;
    top: 100px;
    width: 385px;
    height: 48px;
    border: none;
    margin-bottom: 10px;
    font-size: 35px;
    color: #E67E22;
    font-weight: 300;
    float: left;
    margin-left: 46px;

}





#submit{

    margin: 0 auto;
    display: block;
    /* margin-top: 50px; */
    position: relative;
    top: 120px;
    width: 385px;
    height: 48px;
    border: none;
    font-size: 31px;
    font-weight: 300;
    float: left;
    /* left: 29%; */
    left: 21%;
    background-color: #2980b9;
    color: white;


}


#submit:hover{
    text-decoration: none;
    background-color: #3498db;


    -moz-transition: all 0.3s ease-in;
    /* WebKit */
    -webkit-transition: all 0.3s ease-in;
    /* Opera */
    -o-transition: all 0.3s ease-in;
    /* Standard */
    transition: all 0.3s ease-in;

    -moz-transition: all 0.3s ease-out;
    /* WebKit */
    -webkit-transition: all 0.3s ease-out;
    /* Opera */
    -o-transition: all 0.3s ease-out;
    /* Standard */
    transition: all 0.3s ease-out;
}








.partnermacText{


    color: #3F4D5E;
    font-size: 37px;
    font-weight: 300;
    /* line-height: 52px; */
    margin: 0;
    /* padding: 0 40px; */
    text-align: center;
    font-family: 'Lato', sans-serif;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: block;
    /* padding-left: 21%; */
    position: relative;
    /* top: 94px; */
    left: -217px;
    /* margin-left: -126px; */
    width: 951px;




}

::-webkit-input-placeholder {
    color: #bdc3c7;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

:-moz-placeholder { /* Firefox 18- */
    color: red;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: red;
}

:-ms-input-placeholder {
    color: red;
}



.reviewSide{
    width: 320px;
    height: 510px;
    background-color: #2c3e50;
    margin-top: -266px;
    position: relative;
    margin-left: 10px;



}



.reviewOne{

    width: 300px;
    height: 235px;
    background-color: #34495e;
    margin-top: -502px;
    position: relative;
    margin-left: 19px;


}

.reviewTwo{

    width: 300px;
    height: 200px;
    background-color: #34495e;
    position: relative;
    margin-left: 19px;
    margin-top: 4px;


}

.back{

    display: inline;
    position: relative;
    top: 144px;
    left: 94px;
    /* width: 268px; */
    float: left;
    color: white;
    cursor: pointer;
}

.iphone{


    margin-top: -229px;
    float: right;
    margin-right: -34px;
}

.ipad{


    margin-top: -355px;
    float: right;
}


.featureBox{

    width:150px;
    height: 700px;
    float:left;
    background-color: #ecf0f1;


}

.slideOneFeature{

   background-color: #2980b9;
    width: 1258px;
    height: 911px;
    float:left;


}
.slideTwoFeature{

    background-color: #e74c3c;
    width: 1258px;
    height: 911px;
    float:left;
    position: relative;
    top: 700px;


}
.slideThreeFeature{

    background-color: #e67e22;
    width: 1258px;
    height: 911px;
    float:left;
    position: relative;
    top: 700px;

}
.slideFourFeature{

    background-color: #8e44ad;
    width: 1258px;
    height: 911px;
    float:left;
    position: relative;
    top: 700px;

}
.slideFiveFeature{

    background-color: #2ecc71;
    width: 1258px;
    height: 911px;
    float:left;
    position: relative;
    top: 700px;

}

.slidetwoContentFeature {
    color: #ecf0f1;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 28px auto 0;
    max-width: 640px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: block;
    position: relative;
    top: 85px;
    left: 282px;
}

.slidetwoSubFeature {
    color: #3F4D5E;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0;
    padding: 0 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: inline;
    padding-left: 21%;
    position: relative;
    top: 94px;
    left: 0;
}

.slidetwoTitleFeature {
    color: #ecf0f1;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0;
    padding: 0 40px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    display: inline;
    padding-left: 33%;
    /* margin-top: 19px; */
    /* padding-top: 24px; */
    top: 90px;
    position: relative;
    left: -34px;
        /* margin: 0 auto; */
}

.floatBox {
    /* width: 900px; */
    float: left;
    margin-top: -414px;
    /* margin-right: -259px; */
    margin-left: 10px;
    padding: 10px;
    margin-left: 583px;
}

#reservation{


    position: relative;
    top: 66px;
    cursor:pointer;


}

#easy{


    position: relative;
    top: 66px;
    cursor:pointer;


}

#intergrated{

    position: relative;
    top: 66px;
    cursor:pointer;

}

#homeF{

    position: relative;
    top: 66px;
    cursor:pointer;

}

#secure{

    position: relative;
    top: 66px;
    cursor:pointer;
}


.profileContainer{

    width: 1247px;
    margin: 0 auto;
    /* padding: 105px; */
    margin-top: 200px;

}


.profileOne{

    width: 300px;
    height: 300px;
    background-color: #ecf0f1;
    float: left;
    margin-right: 10px;
    border: 16px solid #2980b9;
    margin-bottom: 30px;

}

.profileTwo{

    width: 300px;
    height: 300px;
    background-color: #ecf0f1;
    float: left;
    margin-right: 10px;
    border: 16px solid #2980b9;
    margin-bottom: 30px;



}
.profileThree{

    width: 300px;
    height: 300px;
    background-color: #ecf0f1;
    float: left;
    margin-right: 10px;
    border: 16px solid #2980b9;
    margin-bottom: 30px;



}
.profileFour{

    width: 300px;
    height: 300px;
    background-color: #ecf0f1;
    float: left;
    margin-right: 10px;
    border: 16px solid #2980b9;
    margin-bottom: 30px;


}
#profileimg{


    position: relative;
    top: -69px;
    left: 63px;

}

.name{

    font-weight: 200;
    text-align: center;
    /* display: inline-block; */
    position: relative;
    top: -100px;



}

hr.style-two {

border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);

    width: 72%;
    margin: 0 auto;
    margin-top: -100px;
}


.profileText{

    text-align: center;
    padding: 24px;

}

.contactData{

  width: 980px;
    height:610px;
    background-color: #ecf0f1;
    margin: 0 auto;
    -moz-box-shadow:    3px 3px 5px 2px #666;
    -webkit-box-shadow: 3px 3px 5px 2px #666;
    box-shadow:         3px 3px 5px 2px #666;
    position: relative;
    top: 129px;
    margin-bottom: 50px;


}

.contactContainer{

    width: 250px;
    height: 215px;
    margin: 0 auto;
    margin-top: 110px;
    margin-bottom: 10px;
    /*background-color: white;*/
}



.supportContainer{

    width: 980px;
    height: 400px;
    /* margin: 0 auto; */
    margin-left: 5.5%;
    margin-top: -57px;


}

.supportBox{

    width: 250px;
    height: 250px;
    margin-right: 10px;
    float: left;
    margin-left: 30px;



}











footer{

    width: 100%;
    height: 65px;
    background-color: #282828;
    text-align: center;
    color: white;
    line-height: 4.5;
    clear:both;
}